/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 10 version
*/

.container {
  max-width: 1540px;
  width: 100%;
  margin: 0 auto;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  position: fixed;
}

.art {
  color: #f8f9fa;
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
  font-family: "Ubuntu", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
}

li a {
  color: white;
  -webkit-transition-duration: 0, 7s;
  -o-transition-duration: 0, 7s;
  transition-duration: 0, 7s;
  border-bottom: 3px solid rgba(0, 0, 0, 0.5);
}
li a:hover {
  border-bottom: 2px solid #d4a373;
}
.main {
  color: aqua;
}

.line1 {
  width: 0.5px;
  height: 20px;
  margin-left: 17px;
  margin-right: 17px;
}
.div-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (max-width: 710px) {
  .div-2 {
    display: none;
  }
}

.fa-facebook {
  margin-right: 18px;
}
.fa-twitter {
  margin-right: 18px;
}
.fa-youtube {
  margin-right: 18px;
}

.fa-bars {
  display: none;
  font-size: 40px;
}

@media (max-width: 710px) {
  .fa-bars {
    display: inline-block;
  }
}

.s-1 {
  height: 600px;
  background-image: url(../images/saxli.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.სახლი {
  max-width: 120px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 5px 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.15);
  margin-top: 250px;
  margin-left: 70px;
}

@media (max-width: 620px) {
  .სახლი {
    margin-left: 20px;
  }
}

.sax {
  color: #fff;
  text-align: right;
  font-family: "Ubuntu", sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
}

.add {
  margin-left: 70px;
  color: #fff;
  font-family: "Ubuntu", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
}

@media (max-width: 620px) {
  .add {
    font-size: 20px;
    margin-left: 20px;
  }
}

.pp {
  color: #e5e5e5;
  font-family: Lora;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 166.667% */
  margin-left: 70px;
}

@media (max-width: 620px) {
  .pp {
    margin-left: 20px;
  }
}

.m-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 540px;
  height: 200px;
  gap: 15px;
}

@media (max-width: 620px) {
  .m-div {
    max-width: 500px;
  }
}

/* აქ ვიწყებ მეორე სექციის გაკეტებას */

.container1 {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  margin-top: 150px;
}

.main-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 1300px;
}

@media (max-width: 620px) {
  .main-div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.pho {
  color: #495057;
  font-family: "Lora", serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.card1 {
  margin-top: 40px;
  max-width: 310px;
  height: 450px;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.card1:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  z-index: 2;
}
.img1 {
  margin-bottom: 15px;
  width: 310px;
  height: 280px;
  border-radius: 5px;
}

.time {
  color: #6c757d;
  font-family: "Lora", serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 15px;
}

.h333 {
  color: #495057;
  font-family: "Lora", serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px; /* 138.889% */
  margin-bottom: 15px;
  letter-spacing: 1px;
}

.p-p {
  color: #6c757d;
  font-family: "Lora", serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 166.667% */
  letter-spacing: 1px;
}

/* აქ ვიწყებ footers */

.container2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 1530px;
  height: 400px;
  background-color: #212529;
  margin-top: 150px;
}
.div-1 {
  max-width: 220px;
}
@media (max-width: 700px) {
  .div-1 {
    display: none;
  }
}

.contact {
  color: #fff;
  font-family: "Lora", serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px; /* 138.889% */
  margin-bottom: 16px;
  letter-spacing: 1px;
}
@media (max-width: 700px) {
  .contact {
    font-size: 15px;
    letter-spacing: none;
    margin-bottom: 2px;
  }
}

.mail {
  color: #e5e5e5;
  font-family: "Lora", serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (max-width: 700px) {
  .mail {
    font-size: 10px;
  }
}

.tell {
  color: #e5e5e5;
  font-family: "Lora", serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.div-3 {
  max-width: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 18px;
}

.explor {
  color: #fff;
  font-family: "Lora", serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px; /* 138.889% */
}

@media (max-width: 700px) {
  .explor {
    font-size: 13px;
  }
}
.wwr {
  color: #e5e5e5;
  font-family: "Lora", serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.wwr1 {
  color: #e5e5e5;
  font-family: "Lora", serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 700px) {
  .wwr1 {
    display: none;
  }
}

.div-4 {
  max-width: 120px;
}

.head {
  color: #fff;
  font-family: "Lora", serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px; /* 138.889% */
  margin-bottom: 15px;
}

.sss {
  color: #e5e5e5;
  font-family: "Lora", serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 166.667% */
}

.div-5 {
  max-width: 140px;
}

.conn {
  color: #fff;
  font-family: "Lora", serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px; /* 138.889% */
  margin-bottom: 15px;
}

a img {
  width: 50px;
  height: 50px;
}

/* info htmlis dawyeba */

.serv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #2d8ff1;
  font-size: 40px;
  margin-top: 50px;
}

.container-n1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  margin-top: 100px;
}

@media (max-width: 700px) {
  .container-n1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 40px;
  }
}

.xedi-12 {
  width: 300px;
  height: 350px;
}

.c-334 {
  width: 300px;
  height: 350px;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.c-334:hover > .flip {
  cursor: pointer;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.flip {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition: -webkit-transform 1500ms;
  transition: -webkit-transform 1500ms;
  -o-transition: transform 1500ms;
  transition: transform 1500ms;
  transition: transform 1500ms, -webkit-transform 1500ms;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.flip:hover {
  cursor: pointer;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.front,
.back {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
  box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 40px;
  padding: 20px;
  background-color: #3a3a3a;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.b-h1 {
  color: #fff;
}

.flip-p {
  color: #fff;
  letter-spacing: 1px;
}

.b2-h1 {
  font-size: 30px;
  color: #fff;
}

.container-n33 {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.image {
  margin-top: 200px;
  height: 600px;
  background-image: url(../images/house24.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.flex-d {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 700px;
  height: 150px;
  gap: 20px;
}

.news-1 {
  color: #f59d44;
  font-family: "Lora", serif;
  font-size: 76px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.news-p {
  color: #ffffff;
  font-family: "Lora", serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
}

.card2 {
  border-radius: 10px;
  max-width: 420px;
  height: 350px;
  position: relative;
  margin-top: 60px;
  transition: 1s;
}

@media (max-width: 700px) {
  .card2 {
    max-width: 320px;
    height: 250px;
  }
}

.img-n1 {
  border-radius: 10px;
  width: 420px;
  height: 350px;
}

@media (max-width: 700px) {
  .img-n1 {
    width: 320px;
    height: 250px;
  }
}
.sastumro {
  color: #fff;
  font-family: "Lora", serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px; /* 138.889% */
  position: absolute;
  top: 180px;
  left: 40px;
}

@media (max-width: 700px) {
  .sastumro {
    top: 150px;
    left: 30px;
  }
}

.sastumro1 {
  color: #fff;
  font-family: "Lora", serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px; /* 138.889% */
  position: absolute;
  top: 210px;
  left: 40px;
}

@media (max-width: 700px) {
  .sastumro1 {
    top: 180px;
    left: 30px;
  }
}

.time2 {
  color: #e5e5e5;
  font-family: "Lora", serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  top: 150px;
  left: 40px;
}

@media (max-width: 700px) {
  .time2 {
    top: 130px;
    left: 30px;
  }
}

.p-news12 {
  color: #e5e5e5;
  font-family: "Lora", serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 166.667% */
  position: absolute;
  top: 250px;
  left: 40px;
}

@media (max-width: 700px) {
  .p-news12 {
    font-size: 10px;
    top: 210px;
    left: 30px;
  }
}

.card2:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  z-index: 2;
}

.main-pd {
  max-width: 1050px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.p-div {
  flex-direction: column;
  align-items: flex-end;
  max-width: 860px;
}

.time-div {
  margin-top: 104px;
  max-width: 60px;
  height: 25px;
}

.rva {
  color: #495057;
  font-family: "Lora", serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px; /* 208.333% */
}
.line1234 {
  width: 45px;
  height: 2px;
  margin-top: 115px;
}

.p-n1 {
  margin-top: 100px;
  margin-bottom: 40px;
  color: #495057;
  font-family: "Lora", serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 178.571% */
}

.p-n2 {
  color: #495057;
  font-family: "Lora", serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 178.571% */
}
