.container {
  max-width: 1540px;
  width: 100%;
  margin: 0 auto;
  height: 80px;
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: space-around;
  position: fixed;
}

.art {
  color: #f8f9fa;
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
}

ul {
  display: flex;
  gap: 25px;
  font-family: "Ubuntu", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
}

li a {
  color: white;
  transition-duration: 0, 7s;
  border-bottom: 3px solid rgba(0, 0, 0, 0.5);
}
li a:hover {
  border-bottom: 2px solid #d4a373;
}
.main {
  color: aqua;
}

.line1 {
  width: 0.5px;
  height: 20px;
  margin-left: 17px;
  margin-right: 17px;
}
.div-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 710px) {
  .div-2 {
    display: none;
  }
}

.fa-facebook {
  margin-right: 18px;
}
.fa-twitter {
  margin-right: 18px;
}
.fa-youtube {
  margin-right: 18px;
}

.fa-bars {
  display: none;
  font-size: 40px;
}

@media (max-width: 710px) {
  .fa-bars {
    display: inline-block;
  }
}

.s-1 {
  height: 600px;
  background-image: url(../images/saxli.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.სახლი {
  max-width: 120px;
  display: inline-flex;
  padding: 5px 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.15);
  margin-top: 250px;
  margin-left: 70px;
}

@media (max-width: 620px) {
  .სახლი {
    margin-left: 20px;
  }
}

.sax {
  color: #fff;
  text-align: right;
  font-family: "Ubuntu", sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
}

.add {
  margin-left: 70px;
  color: #fff;
  font-family: "Ubuntu", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
}

@media (max-width: 620px) {
  .add {
    font-size: 20px;
    margin-left: 20px;
  }
}

.pp {
  color: #e5e5e5;
  font-family: Lora;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 166.667% */
  margin-left: 70px;
}

@media (max-width: 620px) {
  .pp {
    margin-left: 20px;
  }
}

.m-div {
  display: flex;
  flex-direction: column;
  max-width: 540px;
  height: 200px;
  gap: 15px;
}

@media (max-width: 620px) {
  .m-div {
    max-width: 500px;
  }
}

/* აქ ვიწყებ მეორე სექციის გაკეტებას */

.container1 {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  margin-top: 150px;
}

.main-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1300px;
}

@media (max-width: 620px) {
  .main-div {
    flex-direction: column;
    align-items: center;
  }
}

.pho {
  color: #495057;
  font-family: "Lora", serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.card1 {
  margin-top: 40px;
  max-width: 310px;
  height: 450px;
  transition: 1s;
}

.card1:hover {
  transform: scale(1.1);
  z-index: 2;
}
.img1 {
  margin-bottom: 15px;
  width: 310px;
  height: 280px;
  border-radius: 5px;
}

.time {
  color: #6c757d;
  font-family: "Lora", serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 15px;
}

.h333 {
  color: #495057;
  font-family: "Lora", serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px; /* 138.889% */
  margin-bottom: 15px;
  letter-spacing: 1px;
}

.p-p {
  color: #6c757d;
  font-family: "Lora", serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 166.667% */
  letter-spacing: 1px;
}

/* აქ ვიწყებ footers */

.container2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1530px;
  height: 400px;
  background-color: #212529;
  margin-top: 150px;
}
.div-1 {
  max-width: 220px;
}
@media (max-width: 700px) {
  .div-1 {
    display: none;
  }
}

.contact {
  color: #fff;
  font-family: "Lora", serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px; /* 138.889% */
  margin-bottom: 16px;
  letter-spacing: 1px;
}
@media (max-width: 700px) {
  .contact {
    font-size: 15px;
    letter-spacing: none;
    margin-bottom: 2px;
  }
}

.mail {
  color: #e5e5e5;
  font-family: "Lora", serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (max-width: 700px) {
  .mail {
    font-size: 10px;
  }
}

.tell {
  color: #e5e5e5;
  font-family: "Lora", serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.div-3 {
  max-width: 110px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.explor {
  color: #fff;
  font-family: "Lora", serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px; /* 138.889% */
}

@media (max-width: 700px) {
  .explor {
    font-size: 13px;
  }
}
.wwr {
  color: #e5e5e5;
  font-family: "Lora", serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.wwr1 {
  color: #e5e5e5;
  font-family: "Lora", serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 700px) {
  .wwr1 {
    display: none;
  }
}

.div-4 {
  max-width: 120px;
}

.head {
  color: #fff;
  font-family: "Lora", serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px; /* 138.889% */
  margin-bottom: 15px;
}

.sss {
  color: #e5e5e5;
  font-family: "Lora", serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 166.667% */
}

.div-5 {
  max-width: 140px;
}

.conn {
  color: #fff;
  font-family: "Lora", serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px; /* 138.889% */
  margin-bottom: 15px;
}

a img {
  width: 50px;
  height: 50px;
}

/* info htmlis dawyeba */

.container-n1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  margin-top: 100px;
}
.xedi-12 {
  width: 300px;
  height: 350px;
}

.c-334 {
  width: 300px;
  height: 350px;
  perspective: 1000px;
}

.c-334:hover > .flip {
  cursor: pointer;
  transform: rotateY(180deg);
}

.flip {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 1500ms;
  transform-style: preserve-3d;
}

.flip:hover {
  cursor: pointer;
  transform: rotateY(180deg);
}

.front,
.back {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
  position: absolute;
  backface-visibility: hidden;
}

.back {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #3a3a3a;
  transform: rotateY(180deg);
}

.b-h1 {
  color: #fff;
}
